<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>使用v-model改造TabList</title>
  <style>
    *{
      margin: 0;
      padding: 0;
      list-style:none;
    }
    .tabs{
      margin: 10px;
      padding: 10px;
      display: flex;
      align-items: center;
    }
    .tabs .title{
      font-weight: bold;
    }
    .tabs li:not(:first-child){
      border: 1px solid #ddd;
      padding: 2px 10px;
      margin-right: 10px;
      cursor: pointer;
    }
    .tabs li.active{
      background-color: tomato;
      color: white;
    }
  </style>
</head>
<body>
  <div id="app">
    <div>温度：{{wdActive}}</div>
    <div>甜度：{{tdActive}}</div>
    <div>配料：{{plActive}}</div>
     <!-- 当自定义组件绑定的属性名是value，监听的事件名是input，此时就可以使用语法糖v-model -->
    <b-tabs title="温度：" :list="wdList" :value="wdActive" @input="wdActive=$event"></b-tabs>
    <b-tabs title="甜度：" :list="tdList" v-model="tdActive"></b-tabs>
    <b-tabs title="配料：" :list="plList" v-model="plActive"></b-tabs>
  </div>
  <!-- 引入vue -->
  <script src="../JS/vue.min.js"></script>
  <script>
    Vue.component('b-tabs', {
      template:`
        <ul class="tabs">
          <li class="title">{{title}}</li>
          <li :class="{active:value==index}" @click="setActive(index)"
          v-for="(item,index) in list" :key="index">{{item}}</li>
        </ul>
      `,
      props:['title','value','list'],
      methods: {
        setActive(index){
          this.$emit('input',index)
        }
      },
    })
    
    new Vue({
      el:'#app',
      // vue实例中的data选项，也可以是一个方法，由方法返回一个对象
      data(){
        return {
          // 温度高亮索引
          wdActive:0,
          // 温度数组
          wdList:['加冰','少冰','去冰','常温'],
          // 甜度高亮索引
          tdActive:1,
          // 甜度数组
          tdList:['加糖','半塘','少糖','无糖'],
          // 配料高亮索引
          plActive:2,
          // 配料数组
          plList:['珍珠','椰果','布丁','红豆']
        }
      }
    })
  </script>
</body>
</html>