<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>练习</title>
  <style>
    table{
      border-collapse: collapse;  
    }
    td,th{
      border: 1px solid #ccc;
      padding: 2px 20px;
    }
  </style>
</head>
<body>
  <div id="app">
    <table>
      <thead>
        <tr>
          <th>学号</th>
          <th>姓名</th>
          <th>性别</th>
          <th>年龄</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(item,index) in stus" :Key="index">
          <td>{{item.no}}</td>
          <td>{{item.name}}</td>
          <td>{{item.sex}}</td>
          <td>{{item.age}}</td>
          <td>
            <button @click="edit(item)">编辑</button>
            <button @click="delStu(index)">删除</button>
          </td>
        </tr>
      </tbody>
    </table>
    <hr>
    <table>
      <tr>
        <td>学号：</td>
        <td><input type="text" v-model="stu.no" :disabled="isEdit"></td>
      </tr>
      <tr>
        <td>姓名：</td>
        <td><input type="text" v-model="stu.name"></td>
      </tr>
      <tr>
        <td>性别：</td>
        <td><input type="text" v-model="stu.sex"></td>
      </tr>
      <tr>
        <td>年龄：</td>
        <td><input type="text" v-model="stu.age"></td>
      </tr>
      <tr>
        <td></td>
        <td>
          <button v-if="isEdit" @click="upStu">修改</button>
          <button v-else @click="addStu">添加</button>
          <button @click="cancel">取消</button>
        </td>
      </tr>
    </table>
  </div>
  <script src="../JS/vue.min.js"></script>
  <script>
    new Vue({
      el:'#app',
      data:{
        // 是否是编辑状态
        isEdit:false,
        // 学生对象
        stu:{
          no:'',name:'',sex:'',age:'',
        },
        // 学生数组
        stus:[
          {no:'1001',name:'张三',sex:'男',age:20},
          {no:'1002',name:'李四',sex:'女',age:21},
          {no:'1003',name:'王五',sex:'女',age:22},
          {no:'1004',name:'赵六',sex:'男',age:23}
        ]
      },
      methods: {
        // 删除
        delStu(index){
          if(confirm('确定删除吗？')){
            this.stus.splice(index,1)
            alert('删除成功！')
          }
        },
        // 修改
        upStu(){
          // 找到学生在数组中的位置
          let index = this.stus.findIndex(s=>s.no==this.stu.no)
          // 将该位置下面的学生对象替换掉
          this.stus.splice(index,1,{...this.stu})
          alert('修改成功！')
        },
        // 编辑
        edit(item){
          // 通过展开运算符，将指定的对象的属性展开后，重复赋值给stu对象
          this.stu = {...item}
          this.isEdit = true;  // 设置为编辑状态
        },
        // 取消
        cancel(){
          this.stu = {no:'',name:'',sex:'',age:''}
          this.isEdit = false;  // 恢复成添加状态
        },
        // 添加学生
        addStu(){
          if(!this.stu.no){
            return alert('学号不能为空！')
          }
          if(this.stus.some(s=>s.no==this.stu.no)){
            return alert('学号不能重复！')
          }
          this.stus.push(this.stu)
          alert('添加成功！')
        }
      },
    })
  </script>
</body>
</html>